@media only screen and (max-width: 600px) {
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

.preloader-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

#progressbar-preloader {
    position: relative;
    top: -18%;
    border-radius: 20px;
    border: 1px solid #33eeff;
    width: 150px;
    height: 15px;
    animation: progressanime;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes progressanime {
    0% {
        background: hsla(229, 100%, 51%, 1);

        background: linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 20%);

        background: -moz-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 20%);

        background: -webkit-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 20%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0533FF", endColorstr="#FFFFFF", GradientType=1);
    }

    25% {
        background: hsla(229, 100%, 51%, 1);

        background: linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 40%);

        background: -moz-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 40%);

        background: -webkit-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 0%, hsla(0, 0%, 100%, 1) 40%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0533FF", endColorstr="#FFFFFF", GradientType=1);
    }

    50% {
        background: hsla(229, 100%, 51%, 1);

        background: linear-gradient(360deg, hsla(229, 100%, 51%, 1) 30%, hsla(0, 0%, 100%, 1) 60%);

        background: -moz-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 30%, hsla(0, 0%, 100%, 1) 60%);

        background: -webkit-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 30%, hsla(0, 0%, 100%, 1) 60%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0533FF", endColorstr="#FFFFFF", GradientType=1);
    }

    75% {
        background: hsla(229, 100%, 51%, 1);

        background: linear-gradient(360deg, hsla(229, 100%, 51%, 1) 80%, hsla(0, 0%, 100%, 1) 100%);

        background: -moz-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 80%, hsla(0, 0%, 100%, 1) 100%);

        background: -webkit-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 80%, hsla(0, 0%, 100%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0533FF", endColorstr="#FFFFFF", GradientType=1);
    }

    100% {
        background: hsla(229, 100%, 51%, 1);

        background: linear-gradient(360deg, hsla(229, 100%, 51%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

        background: -moz-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

        background: -webkit-linear-gradient(360deg, hsla(229, 100%, 51%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0533FF", endColorstr="#FFFFFF", GradientType=1);
    }
}

.login-section {
    width: 100vw;
    height: 100vh;
    padding-top: 12rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/loginbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#user,
#pass {
    margin: .5rem;
}

.login-btn {
    margin: 5px;
    width: 5rem;
}

.login-input {
    border-radius: 5px 0px;
    border: none;
    margin: 5px;
}
#topborderbg, #bottomborderbg{
    position: absolute;
}
.login-wrapper {
    width: 400px;
    height: 250px;
    padding: 1rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
/* styling for user page */
#user-body{
    background-color: #272727;
    width: 100vw;
    height: 100vh;
    float: left;
}
#header-name{
    font-family: 'Cormorant SC', serif;
    margin-right: 1%;
}
.user-header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    padding: 1% 4%;
    background-color: #fff;
}
#logo-user-header{
    width: 20%;
    height: auto;
    border-radius: 100%;
}
.user-section{
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20%;
}
.emergencey-btn{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#emergencey-txt{
    display: inline;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5rem;
    font-family: 'Alfa Slab One', cursive;
}
.button {
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #ff5959 0px 0px 40px 0px;
    -moz-box-shadow: #ff5959 0px 0px 40px 0px;
    box-shadow: #ff5959 0px 0px 40px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
.msg-user-section{
    font-size: 3rem;
    color: #272727;

}
.msg-btn-user-section{
    width: 15%;
    height: 10%;
    border-radius: 100%;
    padding: 1.5% 0%;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;}

}
/* signup page styling */
#signup-body{
    background-color: #272727;
    color: #fff;
    width: 100vw;
    height: 100vh;
}
.signup-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
}
.signup-inputs{
    /* From https://css.glass */
    background: rgba(230, 115, 7, 0.863);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.43);
    padding: 1.5rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
.logo-div-signup-section{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#logo-signup{
    width: 80%;

}